body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
 }

/*Main Header and Navigation*/
header {
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 69px;
  z-index: 10;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header img {
  height: 50px;
  margin-left: 10px
}

nav a{
  display: inline-block;
  padding-right: 20px;
  color: seashell;
}

/*--header image*/
.main {
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  align-items: center;
}

.hero {
  background-color: black;
  width: 100%;
  display: block;
}

.main h2 {
  font-weight: bold;
  width: 100%;
}

/*--tea section*/

section#tea-section {
  width: 1050px;
  height: 730px;
  margin: 0 auto;
  padding-top: 70px;
}

.teas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teas {
  margin: 0 25px;
}

.teas img {
  display: block;
  padding-top: 10px;
  width: 300px;
}

.teas h4 {
  margin: 0;
  padding: 10px;
}

/*--location section*/

section#locations {
  display: flex;
  flex-direction: column;
  height: 430px;
  width: 1200px;
  margin: 0 auto;
  padding-top: 70px;
  background-image: url("../images/img-locations-background.jpg");
}

#locations h2 {
  margin: 0 0 15px 0;
}

.location-boxes {
  display: flex;
  justify-content: center;
}

.location {
  width: 300px;
  margin: 0 20px;
  background-color: black;
  opacity: 1;
}

.location p {
  margin-bottom: 1.17em;
}

address {
  font-style: normal;
}

footer address {
  height: 200px;
}

footer h2 {
  margin: 20px;
  padding: 20px;
}

footer copyright {
  display: block;
  font-size: 22px;
  text-align: left;
  padding-left: 20px;
}
